<h1> Make Coffee</h1>
<%= form_for(@coffee_maker) do |f| %>
  <p>
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :size %><br>
    <%= f.text_field :size  %>
  </p>

  <p>
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity  %>
  </p>

  <p>
    <%= f.label :heat_source %><br>
    <%= f.text_field :heat_source, :name => "Heat Source"  %>
  </p>

  <p>
    <%= f.label :grind %><br>
    <%= f.text_field :grind  %>
  </p>

  <%= f.submit "Make Coffee" %>
<% end %>
